@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;300&family=Dancing+Script&family=Montserrat:ital,wght@1,100&family=Old+Standard+TT:ital@1&family=Taviraj:wght@200&display=swap');

html {
  max-width: 1000px;
  max-height: 1500px;
}

.app {
  margin: 0px;
  padding: 0px;
  color: #fcfefe;
}

.main-app {
  display: flex;
}

.intro > h2 {
  font-family: URW Chancery L, cursive;
  letter-spacing: -14px;
  font-size: 48px;
  color: #6acafc;
  font-weight: 200;
  margin: 0px;
  padding: 0px;
}

.main-app {
  margin: 0px;
  padding: 0px;
}



.main-app > .intro {
  margin-left: 1%;
  font-weight: lighter;
}



.personal {
  display: flex;
  margin-top: 25%;
  text-align: center;
}


.me {
  float: left;
}

.me > h1 {
  font-size: 49px;
  text-align: left;
  font-family: Big Caslon;
  font-weight: 400;
  color: black;
}

.me > p {
  font-family: Big Caslon;
  color: #929aab;
  font-size: 25px;
  font-weight: lighter;
  text-align: left;
  width: 550px;
  height: 90px;
}
.me {
  display: flexbox;
}


.personal > img {
  width: 260px;
  height: 220px;
  border: double 3.5px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #83f084,#05dfd7);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}


.container {
  display: flex;
}

.personal, .social {
  margin-left: 50%;
}


.button {
  display: flex;
  animation: bounce 1s  linear;
  position: absolute;
  width: 110px;
  height: 40px;
  align-items: center;
  font-family: inherit;
  font-weight: 600;
  font-size: 19px;
  color: white;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  cursor: pointer;
  padding: 0.4em 1em 0.5em 1em;
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 19em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: all 200ms ease-in-out;
}

.button:hover {
  box-shadow: 0px 10px 22px 0px #14a73e98;
  width: 125px;
  height: 44px;
  font-size: 22px;
}

@keyframes bounce {
  20%,50%,80%,to{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-30px);
  }
  70%{
    transform: translateY(-15px);
  }
  90%{
    transform: translateY(-4px);
  }
}

.container > .navbar-container {
  position: relative;
}

footer {
  font-size: 13px;
  text-align: center;
  left: 64%;
  margin-top: 24.2%;
  color: #b7b7b7;
}

#footer {
  position: relative;
  max-width: 500px;
}

#footer:before{
  content:" ";
  display: block;
  height: 0.2px;
  width: 150px;
  position: absolute;
  top: 50%;
  left: 0;
  background: #b7b7b7;
}

#footer:after{
  content:" ";
  height: 0.2px;
  width: 150px;
  background: #b7b7b7;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

.social {
  display: flex;
  position: relative;
  left: 1%;
  gap: 10%;
}



a > img {
  position: absolute;
  width: 36px;
  height: 36px;
  box-shadow: 0px 2.5px 7px 0px #a7a3a3;
  background-color: white;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  margin-left: 20%;
}

a > img:hover {
  box-shadow: 0px 8px 12px 0px #a7a3a3;
  width: 40px;
  height: 40px;
}

.social > a {
  margin-left: 1.5%;
}

.nav-menu1 {
  position: absolute;
  left: 77%;
}

.main-app > .link {
  display: flex;
  position: relative;
  color: #6af79a;
  font-style: Arial;
  font-weight: 450;
  left: 80%;
}

.nav-i {
  display: flex;
  left: 40%;
}

.link {
  position: relative;
  color: #6af79a;
  font-weight: 500;
}

.link:hover{
  color:#00bbf0;
}



.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color:#00bbf0;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}



.intro {
  display: inline;
  justify-content: space-between;
}

.main-app > .navbar-container {
  display: flex;
}

.nav-i > img {
  display: flex;
  width: 16px;
  filter: invert(92%) sepia(91%) saturate(546%) hue-rotate(62deg) brightness(101%) contrast(94%);
  margin-right: 3%;
}

.nav-i > img:hover{
  color:#00bbf0;
}


@media screen and (max-width: 500px) {
  .navbar-container1 {
      position: relative;
      margin-bottom: 5%;
      left: 13.5%;
  }
}

@media screen and (max-width: 500px) {
  .nav-menu1  .link {
      font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .intro > h2 {
    margin-left: 6%;
    letter-spacing: -8px;
    font-size: 27px;
    margin: 0px;
    padding: 0px;
  }
}

@media screen and (max-width: 500px) {
  .personal {
    display: grid;
  }
}

@media screen and (max-width: 500px) {
  .me > h1 {
    font-size: 35px;
    text-align: left;
    font-family: Big Caslon;
    margin-top: 25%;
    margin-bottom: 15%;
  }
}

@media screen and (max-width: 500px) {
  .me > p {
    font-size: 19px;
    font-weight: lighter;
    width: 270px;
    height: 50px;
    margin-bottom: 15%;
  }
}

@media screen and (max-width: 500px) {
  .personal > img {
    width: 150px;
    height: 130px;
    border: double 1.8px transparent;
    border-radius: 50%;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    margin-top: 15%;
    margin-bottom: 15%;
  }
}

@media screen and (max-width: 500px) {
  .social {
    display: flex;
    position: relative;
    gap: 15%;
    margin-bottom: 15%;
    
  }
  }

@media screen and (max-width: 500px) {
  .social > a {
    margin-left: 20%;
    
  }
}
@media screen and (max-width: 500px) {
  form {
    margin-right: 45%;
  }
}

@media screen and (max-width: 500px) {
  a > img {
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width: 500px) {
  a > img:hover {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 500px) {
.button {
  display: flex;
  position: absolute;
  width: 60px;
  height: 25px;
  align-items: center;
  font-size: 10px;
  cursor: pointer;
  padding: 0.4em 1em 0.5em 1em;
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 19em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: all 200ms ease-in-out;
}
}

@media screen and (max-width: 500px) {
    .button:hover {
      width: 68px;
      height: 32px;
      font-size: 12px;
      align-items: center;
      display: flex;
      position: absolute;
    }
}

@media screen and (max-width: 500px) {
footer {
  font-size: 9px;
  text-align: center;
  left: 44%;
  margin-top: 116.9%;
}
}

@media screen and (max-width: 500px) {
#footer {
  position: relative;
  max-width: 300px;
}
}

@media screen and (max-width: 500px) {
#footer:before{
  content:" ";
  display: block;
  height: 0.15px;
  width: 43px;
  position: absolute;
  top: 50%;
  left: 0;
  background: #b7b7b7;
}
}

@media screen and (max-width: 500px) {
#footer:after{
  content:" ";
  height: 0.15px;
  width: 43px;
  background: #b7b7b7;
  display: block;
  position: absolute;
  top: 50%;
  
}
}


@media screen and (max-width: 500px) {
  body {
    display: flexbox;
    margin-right: 30%;
  }
  }



























